.checkout{
  bottom: 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  border-radius: 16px;
  box-shadow: 1px 1px 7px 1px black;
  background: #bda98f;
  letter-spacing: 2px;
  font-weight: 600;
}
.incomplete{
  border: none;
  border-radius: 10px;

}
.succesfully{
  border: none;
  border-radius: 10px;
  font-size: 24px;
  padding: 20px 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
::backdrop {
  background: rgb(0, 0, 0);
  opacity: .2;
}